body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 1px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#indexcontainer{
    display:none;
}

#logo{
    align-content: center;
    width: 100%;
    height: auto;
}

.cabecera{
    background-color: #337ab7;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    border-top: 5px white solid;
    border-left: 5px white solid;
    border-right: 5px white solid;
    
}

.relleno{
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 5px #337ab7 solid;
    border-left: 5px #337ab7 solid;
    border-right: 5px #337ab7 solid;
}

.cajamovil{
    margin: 4px;
    background-color: #EEE;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#botonesTabla{
    padding-top: 5px;
}

.cajaProyectos{
    text-align: center;
}

#logoProyectos{
    width: 100%;
    height: 100%;
}

.relleno{
    height: 500px;
    overflow: auto;
}

#btnProyecto{
    padding-top: 30px;
    margin-bottom: 5px;
}
#error > p{
    color: red;
}